table {
    width: 80%;
    border-collapse: collapse;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 10%;
}
.centered {
    text-align: center;
}
body { 
    padding: 30px;
}

th {
    width: 10%;
    background-color: rgb(255, 0, 0);
    color:white;
}

td {
    text-align: center;
}

td, th {
    padding: 8px;
    border: 2 solid;
}
