:root {
    /* COLORS */
    --white: #E2D3F4;
    --gray: #333;
    --blue: #013DC4;
    --lightblue: #008997;

    /* RADII */
    --button-radius: 0.7rem;

    /* SIZES */
    --max-width: 758px;
    --max-height: 420px;

    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(250, 250, 250);
}

* {
    box-sizing: border-box;
}

.logo {
    width: 10%;
    float: left;
    margin-top: 8px;
    margin-left: 100px;
    padding-top: 10px;
}

#menu1 {
    background-color: rgb(250, 250, 250);
    border: 5px solid var(--blue);
    border-radius: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
}

.search {
    caret-color: rgb(59, 59, 216);
    font-size: 12px;
    width: 60%;
    height: 35px;
    border-radius: 10px;
    margin-left: -15%;
    border-color: var(--blue);
    text-transform: capitalize;
    transition: background-color 0.2s;
}

.search:active {
    background-color: rgb(115, 151, 230);
}

.login {
    width: 100%;
    margin-top: -35px;
    margin-bottom: 40px;
    margin-left: 118%;
    transform: translate(-40%, 40%);
}

#menu1 ul li {
    display: inline-block;
    font-weight: bold;
    color: var(--white);
}

#menu2 {
    margin-left: 11%;
    margin-right: 11%;
    background-color: var(--blue);
    color: var(--white);
    border-radius: 10px;
}

#menu2 ul {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    text-align: center;
}

#menu2 ul li {
    display: inline-block;
    font-weight: bold;
    z-index: 1;
}

#color {
    width: 12%;
}

.mon1 {
    display: flex;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.item {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 30px;
    margin: 10px;
    background-color: var(--blue);
    color: var(--white);
    padding-top: 8px;
    border-radius: 10px;
}

.item:hover {
    width: 10%;
    background-color: rgb(9, 54, 159);
}

#select {
    width: 100%;
    height: 25px;
    color: var(--white);
    background-color: var(--blue);
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.5s;
}

#select:hover {
    background-color: rgb(45, 93, 205);
}

li {
    list-style-type: none;
}

#select-private {
    margin-top: 30px;
    height: 10px;
    color: var(--white);
    background-color: transparent;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    width: 75%;
}

#select-private::placeholder {
    color: rgb(0, 0, 0);
}

.category-extend,
.nation-extend,
.year-extend,
.top-extend {
    display: none;
}

.category:hover .category-extend,
.nation:hover .nation-extend,
.year:hover .year-extend,
.top:hover .top-extend {
    display: block;
}

.category,
.nation,
.year,
.top {
    position: relative;
}

.category-extend,
.nation-extend,
.year-extend,
.top-extend {
    position: absolute;
    top: 82%;
    left: -2%;
    list-style-type: none;
    line-height: 20px;
    color: var(--white);
    background-color: var(--blue);
}

.btn-bg {

    text-align: center;
    font-weight: bold;
    background-color: var(--blue);
    border: none;
    color: var(--white);
    padding: 5px 0px;
    border-radius: 10px;
    padding-left: 7px;
    padding-right: 7px;
}

.btn-bg:hover {
    width: 105%;
    transition: background-color 0.5s;
}

.btn-bg:hover {
    background-color: rgb(8, 72, 210);
}

main {
    color: var(--white);
    background-color: rgb(226, 226, 233);
    width: 80%;
    margin-left: 10%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    flex-grow: wrap;
    border-radius: 10px;
}

.card-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 9px;
}

.card {
    width: 200px;
    height: 300px;
    border-radius: 16px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
    cursor: pointer;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transition: 0.2s;
}

.card .layer {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    opacity: 0;
    transition: 0.3ms;
}

.card .info {
    position: absolute;
    bottom: -50%;
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 1.75s opacity;
}

.info h1 {
    text-align: left;
    font-size: 15px;
}

.info p {
    text-align: left;
    font-size: 10px;
    margin-top: 3px;
}

.info button {
    background: red;
    border: none;
    padding: 8px 12px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 8px;
}

.info button:hover {
    background-color: rgb(5, 64, 193);
}

.card:hover,
.card:hover img,
.card:hover layer {
    transform: scale(1.1);
}

.card:hover>.layer {
    opacity: 1;
}

.card:hover>.info {
    bottom: 0;
    opacity: 1;
}

.card-group:hover>.card:not(:hover) {
    filter: blur(5px);
}

.mon2 {
    display: flex;
    background-color: var(--blue);
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.mon2 .item {
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 80px;
    height: 30px;
    margin: 10px;
    background-color: var(--blue);
    color: var(--white);
    padding-top: 8px;
    border-radius: 10px;
}

.mon2 .item:hover {
    background-color: rgb(42, 63, 218);
}